$body-bg: #101010;
$body-color: #bbbbbb;
$accent: #009988;
$alt-bg: #202020;
$alt-color: #f2f2f2;

.bg-color {
  background-color: $body-bg;
}

.accent-color {
  color: $accent;
}

:root {
  --accent: #009988;
}

.angular-color {
  color: #dd0031;
}

.react-color {
  color: #61dafb;
}

.vue-color {
  color: #008000;
}

.html-color {
  color: #3434c5;
}

.css-color {
  color: #dfdb13;
}

.bootstrap-color {
  color: #9e13df;
}
