* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.site {
  display: flex;
  flex-direction: column;
}

.site-content {
  flex: 1;
  height: 100vh;
  width: 100%;
  background: url("./assets/img/landing.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.navbar {
  background: $alt-bg;
  border-bottom: 3px solid $accent;
  min-height: 8vh;

  .navbar-nav .nav-link {
    color: $alt-color;
    transition: color 0.2s ease-in;

    &.active {
      color: $accent;
    }
  }
}

.main-content {
  min-height: 84vh;
}

.main-footer {
  color: $alt-color;
  border-top: 3px solid $accent;
  background-color: $alt-bg;
}

// Home Content
.home-image-content {
  position: relative;
  transform: translateX(0%);
  transform: translateY(50%);
}

.home-image-content img {
  border-radius: 50%;
  width: 250px;
  border: 2px solid $accent;
}

.about-content {
  padding: 20px;
}

.lang-circle {
  color: #ff4477;
}

.lang-text {
  color: rgb(200, 200, 200);
  letter-spacing: 2px;
}

.tech-content {
  margin-top: 20px;
}

//
// Resume Content
//
.resume-content {
  padding-top: 50px;
  padding-bottom: 30px;
}

.resume-content ul li .company-background {
  background-color: rgba($alt-bg, 0.7);
}

.resume h3 {
  margin-bottom: 50px;
}

.accomp-bullet {
  list-style: none;
  position: relative;
}

ul .accomp-bullet li:before {
  content: "";
  background: $accent;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  border: 3px solid #000;
  left: -20px;
  width: 15px;
  height: 15px;
  z-index: 1;
}

.timeline {
  list-style-type: none;
  position: relative;
}

.timeline p {
  padding: 10px;
}

/* draw a vertical dark line in front of experience list */
.timeline:before {
  content: "";
  background: $accent;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 1;
}

/* back ground of experiences is light color */
.timeline li {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

/* title of experience */
.dev-title {
  background-color: #000;
  padding: 5px 0 5px 20px;
  color: #fff;
  font-size: 15px;
}

/* the date in front of experience */
.timeline li h4 span {
  font-weight: bold;
  color: #ccc;
}

/* draws a circle in vertical line */
.timeline li.job-bullet:before {
  content: "";
  background: $accent;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #000;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 1;
}

mat-footer-row mat-footer-cell {
  justify-content: center;
  font-style: italic;
}

.search-div {
  margin: 10px;
}

// Filter
.search-form-field {
  width: 30%;
  margin-left: 10px;
  padding: 5px 10px;
  background-color: $alt-bg;
  border-radius: 5px;
  border: solid 1px rgb(190, 190, 190);
}

// Filter
.placeholder {
  color: rgb(190, 190, 190);
}

.search-form-field div.mat-form-field-underline {
  display: none;
}

.search-form-field div.mat-form-field-infix {
  border-top: 0px;

  .mat-input-element {
    color: #fff !important;
  }
}

.search-form-field div.mat-form-field-wrapper {
  padding-bottom: 0px;
}

.search-form-field div.mat-form-field-suffix button {
  height: 28px;
  width: 28px;
}

// Search Dialog Styles
.mat-dialog-container {
  background-color: $alt-bg;
}

.navbar .search-navbar-brand {
  color: $alt-color;
}

/* set the color of datapicker icon */
.mat-datepicker-toggle-default-icon {
  color: #f2f2f2;
}

// ***********************************
// Contact page styling
// ***********************************

.contact-icon:hover {
  font-size: 1.1rem;
}

// ***********************************
// Earthquake page styling
// ***********************************
.search-button {
  background-color: #009988;
}

//
// Table styles
//
.table-even {
  background-color: rgb(65, 60, 60);
}

// NOTE: this is not needed as the background color for the entire
// table is set to this color.
// .table-odd {
//   background-color: #111010;
// }

// set the background color of the entire table
.full-width-table {
  background-color: #111010;
}

// remove the padding in the more info column header text
th.table-header.mat-header-cell.cdk-column-info {
  padding: 0;
}

td.mat-cell.cdk-column-info.mat-column-info {
  padding: 0;
}

.mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-cell,
.mat-header-cell {
  color: rgb(190, 190, 190);
}

// to center header text in non-sorted column
.table-header.mat-header-cell.cdk-column-info {
  text-align: center;
}

tr,
td,
th {
  border: 1px solid rgb(190, 190, 190);
}

tr:nth-child(odd) {
  color: white;
}

// the range dropdown in the table pagination
.mat-select-value-text {
  color: rgb(190, 190, 190);
}

.mat-column-info,
.mat-column-date,
.mat-column-magnitude {
  text-align: center;
}

table,
mat-paginator {
  border: solid 1px white;
}

//
// Search Dialog
//

.mat-dialog-container#mat-dialog-0 {
  padding: 10px;
}

.search-card {
  border: solid 1px $accent;
}

.search-container {
  padding: 0;
  margin: 0;
}

.card {
  background-color: #000;
  padding: 0px;
  margin: 0px;
}

.search-card-body {
  background-color: #202020;
}

.search-card-footer {
  padding: 0px;
  margin: 0px;
}

mat-label {
  color: #f2f2f2;
}

.search-card-body {
  padding: 10px;
}

/* change arrow icon when has focus */
.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #009988;
}

/* change arrow icon when does not have focus */
.mat-form-field.mat-primary .mat-select-arrow {
  color: #f2f2f2;
}

/* change underline (ripple) when has focus */
.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #009988;
}

div.mat-select-value {
  color: #f2f2f2;
  background-color: #3d3737;
}

.mat-icon-button:focus .mat-icon-button:active {
  outline-color: #009988;
}

.mat-input-element:disabled {
  color: #f2f2f2;
  background-color: #3d3737;
}

.close-button {
  color: #009988;
}

//
// Projects
//
.projects-content {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px;
}

.new-projects-button {
  margin-top: 100px;
  background-color: $accent;
  display: block;
}
