.mag-container {
  display: flex;
}

.card {
  background-color: #000;
  padding: 0px;
  margin: 0px;
}

.card-body {
  background-color: #202020;
}

mat-label {
  color: #f2f2f2;
}

/* set the color of datapicker icon */
.mat-datepicker-toggle-default-icon {
  color: #f2f2f2;
}

/* set the color of the focus of datapicker icon */
.mat-icon-button:focus {
  outline-color: #009988;
}

div.mat-select-value {
  color: #f2f2f2;
  background-color: #3d3737;
}

/* change arrow icon when has focus */
.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #009988;
}

/* change underline (ripple) when has focus */
.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #009988;
}

.mat-input-element:disabled {
  color: #f2f2f2;
  background-color: #3d3737;
}
