<p-card class="panel" >
    <div class="subpanel">
    <div>
    <app-calendar [label]="calendarEndLabel"  [value]="endDateValue" (dataChangeEvent)="onEndDateChanged($event)"></app-calendar>
    <app-calendar [label]="calendarStartLabel" [value]="startDateValue" (dataChangeEvent)="onStartDateChanged($event)"></app-calendar>
    </div>
    <div>
    <app-input-field [label]="maxMagnitudeLabel" [value]="maxMagnitudeValue" (dataChangeEvent)="onMaxMagChanged($event)" [min]="minMagnitudeLimit" [max]="maxMagnitudeLimit"></app-input-field>
    </div>
    <div>
    <app-input-field [label]="minMagnitudeLabel" [value]="minMagnitudeValue" (dataChangeEvent)="onMinMagChanged($event)" [min]="minMagnitudeLimit" [max]="maxMagnitudeLimit"></app-input-field>
    </div>
    <div>
    <p-button label="Search" (onClick)="search()"></p-button>
    </div>
</div>
</p-card>
<p-confirmDialog #confirmation>
    <p-footer>
        <button pButton type="button" label = "Ok" (click) = confirmation.accept() class="ui-button-secondary"></button>
    </p-footer>
</p-confirmDialog>