<div class="card">
  <div class="card-header">
    <nav class="navbar navbar-expand">
      <a class="navbar-brand">Earthquakes</a>
      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let i of quakeCount"><a class="nav-link">
            <i class="fas fa-circle pr-2" [ngStyle]="{'color': i.color}"></i><strong>{{i.magnitude}}:</strong>
            {{i.count}}
          </a></li>
      </ul>
    </nav>
  </div>

  <div class="container">
    <div class="card-body">
      <div class="search-div">
        <button mat-raised-button class="search-button" (click)="onSearch()">
          <mat-icon>search</mat-icon>Search
        </button>
        <mat-form-field class="search-form-field" appearance="legacy" floatLabel="never">
          <mat-placeholder class="placeholder">Filter</mat-placeholder>
          <input matInput [(ngModel)]="filter" autocomplete="off">
          <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="filter" (click)="onFilterClear()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-progress-spinner class="spinner-class" mode="indeterminate" diameter="40" *ngIf="isLoading">
        </mat-progress-spinner>
      </div>
      <div>
        <table mat-table class="full-width-table col-12" [dataSource]="dataSource" matSort aria-label="Elements">

          <!-- Location Column -->
          <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
            <td mat-cell *matCellDef="let element">{{element.location}}</td>
          </ng-container>

          <!-- Magnitude Column -->
          <ng-container matColumnDef="magnitude">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mag</th>
            <td mat-cell *matCellDef="let element">{{element.magnitude | number:'1.1-1'}}</td>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
            <td mat-cell *matCellDef="let element">{{element.date | date:'yyyy-MM-dd'}}</td>
          </ng-container>

          <!-- More Info Column -->
          <ng-container matColumnDef="info">
            <th mat-header-cell *matHeaderCellDef class="table-header">More Info</th>
            <td mat-cell *matCellDef="let element"><a target="_blank" [href]="element.url"><i
                  class="fas fa-info-circle accent-color"></i></a></td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;"
            [ngClass]="{'table-even': even}">
          </tr>
        </table>

        <div *ngIf="!(dataSource?.data?.length)" class="p-2">
          No data found. Please click Search to find earthquake data.
        </div>

        <mat-paginator #paginator [length]="dataSource?.data?.length" [pageSize]="10"
          [pageSizeOptions]="[10, 25, 50, 100]">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
