<div class="search-card">
  <div class="card-header">
    <nav class="navbar navbar-expand">
      <a class="search-navbar-brand">Search USGS Database</a>
    </nav>
  </div>

  <div class="container search-container">
    <div class="search-card-body">
      <div class="row">
        <mat-form-field class="col-12 col-md-6">
          <mat-label>{{calendarStartLabel}}</mat-label>
          <input matInput [(ngModel)]="startDateValue" [matDatepicker]="startPicker" disabled>
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-12 col-md-6">
          <mat-label>{{calendarEndLabel}}</mat-label>
          <input matInput [(ngModel)]="endDateValue" [matDatepicker]="endPicker" disabled>
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-12 col-md-6">
          <mat-label>{{minMagnitudeLabel}}</mat-label>
          <mat-select [value]='minMagnitudeValue' (selectionChange)="onMinMagChanged($event)">
            <mat-option *ngFor="let mag of magValues" [value]='mag'>
              {{mag}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-12 col-md-6">
          <mat-label>{{maxMagnitudeLabel}}</mat-label>
          <mat-select [value]='maxMagnitudeValue' (selectionChange)="onMaxMagChanged($event)">
            <mat-option value="5">5</mat-option>
            <mat-option value="6">6</mat-option>
            <mat-option value="7">7</mat-option>
            <mat-option value="8">8</mat-option>
            <mat-option value="9">9</mat-option>
            <mat-option value="10">10</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="d-flex search-card-footer">
        <button mat-raised-button class="search-button" (click)="onSearch()">Search</button>
        <button mat-button class="ml-auto close-button mr-3" (click)="onClose()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
