<caption>Earthquakes</caption>
<p-table [columns]="cols" [value]="earthquakes" [sortOrder]="-1">

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns"  [style.width]="col.width" [pSortableColumn]="col.field" pResizableColumn>
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-ri="rowIndex">
      <tr>
        <td *ngFor="let col of columns"  [style.width]="col.width">
          <div *ngIf="col.field=='url'">
            <a href={{rowData[col.field]}} style='display:block'>{{rowData[col.field]}}</a>
          </div>
          <div *ngIf="col.field!='url'">
              {{rowData[col.field]}}
            </div>
        </td>
      </tr>
    </ng-template>
</p-table>
