<h2>{{earthquake.magnitude}} Details</h2>
<div><span>location: </span>{{earthquake.location | uppercase}}</div>
<div><span>magnitude: </span>{{earthquake.magnitude}}</div>
<table>
  <caption>Earthquakes</caption>
  <tr>
    <th scope="col">Location</th>
    <th scope="col">Magnitude</th>
    <th scope="col">More</th>
  </tr>
  <tr *ngFor="let earthquake of earthquakes">
    <td>{{earthquake.properties.place}}</td>
    <td>{{earthquake.properties.mag}}</td>
    <td><a href={{earthquake.properties.url}}>More</a></td>
  </tr>
</table>