<div class="about-content">
  <div class="row">
    <div class="col-12 mb-5">
      <h3>About me</h3>
      <p>I create versatile software solutions for real-world problems. I am adaptable to a wide range of team and
        application environments. I have a wide range of
        expertise. I am a fast learner and can become productive on a new team very quickly. I love to learn new
        technologies
        and work hard to keep my skills current. While others go home after work and watch TV, I go home and code.</p>
    </div>
  </div>
  <h3>Technical Skills Summary</h3>
  <div class="row tech-content mb-5">
    <div class="col-12 col-md-4">
      <div class="mb-3">
        <i class="fab fa-angular angular-color"><strong class="ml-3 lang-text">ANGULAR</strong></i>
      </div>
      <div class="mb-3">
        <i class="fab fa-html5 html-color"><strong class="ml-3 lang-text">HTML5</strong></i>
      </div>
      <div class="mb-3">
        <i class="fab fa-css3 css-color"><strong class="ml-3 lang-text">CSS3</strong></i>
      </div>
      <div class="mb-3">
        <i class="fab fa-bootstrap bootstrap-color"><strong class="ml-3 lang-text">BOOTSTRAP</strong></i>
      </div>
      <div class="mb-3">
        <i class="fas fa-circle lang-circle"><strong class="ml-3 lang-text">UX DESIGN</strong></i>
      </div>
      <div class="mb-3">
        <i class="fas fa-circle lang-circle"><strong class="ml-3 lang-text">RESPONSIVE</strong></i>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="mb-3">
        <i class="fas fa-circle angular-color"><strong class="ml-3 lang-text">JAVASCRIPT</strong></i>
      </div>
      <div class="mb-3">
        <i class="fas fa-circle angular-color"><strong class="ml-3 lang-text">JAVA</strong></i>
      </div>
      <div class="mb-3">
        <i class="fas fa-circle angular-color"><strong class="ml-3 lang-text">C++</strong></i>
      </div>
      <div class="mb-3">
        <i class="fas fa-circle angular-color"><strong class="ml-3 lang-text">C</strong></i>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="mb-3">
        <i class="fas fa-circle angular-color"><strong class="ml-3 lang-text">WINDOWS XP & 10</strong></i>
      </div>
      <div class="mb-3">
        <i class="fas fa-circle angular-color"><strong class="ml-3 lang-text">REDHAT</strong></i>
      </div>
      <div class="mb-3">
        <i class="fas fa-circle angular-color"><strong class="ml-3 lang-text">GIT</strong></i>
      </div>
      <div class="mb-3">
        <i class="fas fa-circle angular-color"><strong class="ml-3 lang-text">SCRUM</strong></i>
      </div>
    </div>
  </div>

  <div class="row  mb-5">
    <div class="col-3 text-center">
      <i class="fab fa-angular fa-10x angular-color d-none d-md-block"></i>
    </div>
    <div class="col-12 col-md-9">
      <h2><i class="fab fa-angular angular-color d-md-none mr-2"></i>Angular Development</h2>
      <p>I have worked on several Angular projects. I have designed and implemented custom components using the PrimeNG
        library. I have implemented custome services for inter-component communication and for accessing end points of a
        back end
        service. I have also implemented routing and lazy loading of modules for better performance.</p>
      <button [routerLink]="['/portfolio']" mat-stroked-button>View More</button>
    </div>
  </div>
</div>
