<div class="resume-content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="text-center">Professional Experience</h3>
        <ul class="timeline">
          <li class="job-bullet">
            <div class="d-flex dev-title">
              <div>
                <h4>Halliburton, Houston, TX</h4>
              </div>
              <div class="ml-auto mr-3">2014 - 2020</div>
            </div>
            <div class="company-background">
              <p><strong>Senior Tech Advisor-Software Developer (2020 - 2020)</strong></p>
              <p>Headed team for porting legacy software system to 64-bit Linux Red Hat.</p>
              <ul class="accomp-bullet">
                <li>Enabled software to build in 32-bit and 64-bit environments.</li>
                <li>Trained and mentored team member to be more productive in legacy code base.</li>
              </ul>
              <p><strong>Senior Tech Advisor-Software Developer (2019 - 2020)</strong></p>
              <p>Built Angular front-end for a cloud-based microservice application.</p>
              <ul class="accomp-bullet">
                Built front-end for single page web application using Angular and PrimeNG components.
                <li>Validated user input and furnish meaningful information to user.</li>
                <li>Devised algorithm to ensure accuracy of user input.</li>
                <li>Displayed user input in PrimeNG table with custom icons to provide user with meaningful feedback.
                </li>
                <li>Developed unit tests for at least 80% code coverage.</li>
                <li>Sent user data to end point of backend server using HTTP and JSON for processing.</li>
              </ul>
              <br>
              <ul class="accomp-bullet">
                Enhanced Angular front-end for a cloud-based microservice application.
                <li>Became productive on new team within a month. Learned all associated technologies: Angular,
                  TypeScript, HTML, CSS.</li>
                <li>Added routing between functional components for intuitive navigation.</li>
                <li>Modified table to allow charts to be edited, deleted and created, improving user experience.</li>
                <li>Led team through weekly sprints as backup Scrum master.</li>
                <li>Organized and groomed product backlog with product owner enabling weekly sprints to run more
                  efficiently.</li>
                <li>Modified Spring Boot endpoint and PostgreSQL database to prevent proprietary information from
                  reaching front end, thus
                  securing sensitive data.</li>
              </ul>
              <p><strong>Senior Tech Advisor-Software Developer (2014 - 2019)</strong></p>
              <p>Developed customer-focused enhancements for geologic interpretation desktop Java application.</p>
              <ul class="accomp-bullet">
                <li>Built custom view for visualizing well bore for precise drilling.</li>
                <li>Produced level of detail algorithm to control amount of data (big data) being displayed. Enabled
                  user
                  to better visualize data.</li>
                <li>Increased system performance over 500% by utilizing collision detection.</li>
                <li>Helped secure a $35 million contract by delivering key customer feature for interpreting zone
                  attribute and surface pick data.</li>
              </ul>

          <li class="job-bullet">
            <div class="d-flex dev-title">
              <div>
                <h4>ICON, Kaysville, UT</h4>
              </div>
              <div class="ml-auto mr-3">2006 - 2014</div>
            </div>
            <div class="company-background">
              <p><strong>Software Consultant (2006 - 2014)</strong></p>
              <p>Supported legacy C and C++ software application suite for Halliburton. Shipped two customer releases.
              </p>
              <ul class="accomp-bullet">
                <li>Conceived and built software tool for user to easily perform geologic interpretation in horizontal
                  and recumbent wells. Tool was deciding factor for a customer to choose Halliburton over a competitor.
                </li>
                <li>Implemented several customer-requested enhancements improving customer satisfaction.</li>
              </ul>

            </div>
          </li>

          <li class="job-bullet">
            <div class="d-flex dev-title">
              <div>
                <h4>Hill A.F.B, Ogden, UT</h4>
              </div>
              <div class="ml-auto mr-3">2006 - 2014</div>
            </div>
            <div class="company-background">
              <p><strong>Electrical Engineer, GS-13 (2012 - 2014)</strong></p>
              <p>Lead architect of redesign of real-time F-16 avionics flight simulator for Block 50 aircraft.</p>
              <ul class="accomp-bullet">
                <li>Planned and constructed a component-based, object-oriented system for modeling avionics subsystems.
                  Software changes
                  were easier and more quickly tested by pilots.
                </li>
              </ul>
              <p><strong>Electrical Engineer, GS-12 (2005 - 2012)</strong></p>
              <ul class="accomp-bullet">
                <li>Devised and implemented a custom hardware interface for flight simulator to interface to 7-channel
                  projection system giving pilot a more immersive experience.
                </li>
              </ul>
            </div>
          </li>
      </div>
      </li>
      <h3 class="text-center">Additional Relevant Experience</h3>
      <li class="job-bullet">
        <div class="d-flex dev-title">
          <div>
            <h4>Landmark Graphics Corporation, Austin, TX</h4>
          </div>
        </div>
        <div class="company-background">
          <p><strong>Principle Software Engineer</strong></p>
          <p>Produced customer-driven enhancements for industry-leading geologic interpretation software suite.
          </p>
          <ul class="accomp-bullet">
            <li>Ported software from UNIX to Linux. Gave user richer experience with 16-bit color.</li>
          </ul>
        </div>
      </li>
      <h3 class="text-center">Education</h3>
      <li class="job-bullet">
        <div class="company-background">
          <p><strong>Bachelor of Science, Electrical Engineering (BS)</strong>, University of Utah, Salt Lake City, UT
          </p>
          <p>Completed 37 hours towards <strong>Masters of Science (MS), Computer Science</strong>, Utah State
            University, Logan, UT</p>
        </div>
      </li>
      </ul>
    </div>
  </div>
</div>
</div>
