<div class="resume-content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="text-center">Professional Experience</h3>
        <ul class="timeline">
          <li class="company-bullet">
            <div class="d-flex dev-title">
              <div>
                <h4>Halliburton, Houston, TX</h4>
              </div>
              <div class="ml-auto mr-3">2014 - 2020</div>
            </div>
            <div class="company-background">
              <strong>Senior Tech Advisor-Software Developer (2019 - 2020)</strong><br>
              Created cloud-based microservice application calculating proper breakout angle for wellbore stability
              to potentially save oil companies millions of dollars re-drilling collapsed wellbores. Worked on
              2-person team.
              <ul class="accomp-bullet">
                <li>Devised algorithm to validate user input, ensuring accuracy, sending user data to end point of
                  backend server for
                  processing.</li>
                <li>Displayed user input in table with custom icons, providing user with meaningful feedback.
                </li>
                <li>Developed unit tests for at least 80% code coverage for more robust code.</li>
              </ul>
              <br>
              <strong>Senior Tech Advisor-Software Developer (2019)</strong><br>
              <ul class="accomp-bullet">
                Worked on distributed team (Houston, Denver, UK, and India). Created single-page, cloud-based
                microservice application for calculating lithology using machine learning. Enabled customer to quickly
                understand subsurface rock
                formations and composition, and more efficiently find formation for drilling. Led team through weekly
                sprints as backup
                Scrum master.
                <li>Became productive on new team within 1 month, learning all associated technologies: Angular,
                  TypeScript, HTML5, and
                  CSS3, becoming strong team contributor.</li>
                <li>Added routing between functional components, providing user with more intuitive navigation of web
                  application.</li>
                <li>Groomed product backlog with product owner, enabling weekly sprints to run more efficiently.</li>
                <li>Modified Spring Boot endpoint and PostgreSQL database to prevent proprietary information from
                  reaching front end, thus
                  securing sensitive data.</li>
              </ul>
              <strong>Senior Tech Advisor-Software Developer (2014 - 2019)</strong><br>
              Worked on distributed team (Houston, Denver, and UK). Developed customer-focused enhancements for geologic
              interpretation desktop Java application.
              <ul class="accomp-bullet">
                <li>Built custom view for visualizing well bore for precise drilling.</li>
                <li>Produced level of detail algorithm to control amount of data (big data) being displayed. Enabled
                  user to better visualize data.</li>
                <li>Increased system performance over 500% by utilizing collision detection.</li>
                <li>Helped secure a $35M contract by delivering key customer feature for interpreting zone
                  attribute and surface pick data.</li>
              </ul>
            </div>
          </li>
          <li class="company-bullet">
            <div class="d-flex dev-title">
              <div>
                <h4>ICON INFORMATION CONSULTANTS, Kaysville, UT</h4>
              </div>
              <div class="ml-auto mr-3">2006 - 2014</div>
            </div>
            <div class="company-background">
              <strong>Software Consultant (2006 - 2014)</strong><br>
              Supported legacy C and C++ software application suite for Halliburton. Shipped two customer releases.
              <ul class="accomp-bullet">
                <li>Conceived and built software tool, allowing user to easily perform geologic interpretation in
                  horizontal and recumbent wells. Tool was deciding factor for customer to choose Halliburton over
                  competitor.
                </li>
                <li>Implemented several customer-requested enhancements improving customer satisfaction.</li>
                <li>Satisfied customer by analyzing and fixing critical customer problem with map viewing software.
                </li>
              </ul>

            </div>
          </li>

          <li class="company-bullet">
            <div class="d-flex dev-title">
              <div>
                <h4>Hill A.F.B, U.S., DEPARTMENT OF DEFENSE, Ogden, UT</h4>
              </div>
              <div class="ml-auto mr-3">2006 - 2014</div>
            </div>
            <div class="company-background">
              <strong>Electrical Engineer, GS-13 (2012 - 2014)</strong><br>
              Served as lead architect on redesign of real-time F-16 avionics flight simulator for Block 50 aircraft.
              <ul class="accomp-bullet">
                <li>Planned and constructed a component-based, object-oriented system for modeling avionics subsystems.
                  Software changes were easier and more quickly tested by pilots.
                </li>
              </ul>
              <strong>Electrical Engineer, GS-12 (2005 - 2012)</strong><br>
              Worked on team to enhance flight simulation of F-16 Aircrafts. Software upgrades were tested and tweaked
              before going to production.
              <ul class="accomp-bullet">
                <li>Worked on team to enhance flight simulation of F-16 Aircrafts. Software upgrades were tested and
                  tweaked before going to production.
                </li>
                <li>Enhanced simulation of highly classified weapon system, providing pilots with greater degree of
                  realism.</li>
              </ul>
            </div>
          </li>
          <h3 class="text-center">Additional Relevant Experience</h3>
          <li class="company-bullet">
            <div class="d-flex dev-title">
              <div>
                <h4>Landmark Graphics Corporation, Austin, TX</h4>
              </div>
            </div>
            <div class="company-background">
              <strong>Principle Software Engineer</strong><br>
              Produced customer-driven enhancements for industry-leading geologic interpretation software suite.
              <ul class="accomp-bullet">
                <li>Ported software from UNIX to Linux, giving user richer experience with 16-bit color.</li>
              </ul>
            </div>
          </li>
          <h3 class="text-center">Personal Projects</h3>
          <li class="company-bullet">
            <div class="company-background">
              <ul class="accomp-bullet">
                <li>This website.</li>
                <li>Created retirement planning application for Android.</li>
                <li>Created earthquake search application for Android.</li>
              </ul>
            </div>
          </li>
          <h3 class="text-center">Education</h3>
          <li class="company-bullet">
            <div class="company-background text-center">
              <strong>Bachelor of Science, Electrical Engineering (BS)</strong>, University of Utah, Salt Lake City,
              UT<br>
              Completed 50% towards <strong>Masters of Science (MS), Computer Science</strong>, Utah State
              University, Logan, UT<br>
              Android Developer Nano Degree, Udacity
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
