<div class="resume-content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="text-center">Work History</h3>
        <ul class="timeline">
          <li>
            <div class="d-flex dev-title">
              <div>
                <h4>Senior Tech Advisor-Software Developer - Halliburton</h4>
              </div>
              <div class="ml-auto mr-3">17-Feb-2015 - 5-May-2020</div>
            </div>
            <p>Worked on cloud-based Angular applications for use in the Oil and Gas industry.</p>

            <p>Designed and created Angular appilcation for calculating mud weight for well bore. Designed and
              implemented algorithm for validating input data. The results were displayed in a PrimeNG table. Using
              JSON, the results were packaged up and sent an endpoint on the backend.<br>

            <p>Created unit tests for at least 80% coverage.<br>

            <p>Created user interace components for Angular application that creates Chronostratigraphic charts. The
              charts were listed in a PrimeNG table. Added action column for table where the charts could be edited,
              renamed, or deleted. Implemented routing to navigate between the various components of the app.<br>

            <p>Made enhancements to the Postgres data base and SpringBoot-based backend. This ehancement would prevent
              propriety data from reaching the frontend.<br><br>

              <strong>Company</strong> - Halliburton<br>
              <strong>Duration</strong> 2017 - 2018<br>
              <strong>Location</strong> - Houston, TX<br>
            </p>
          </li>
          <li>
            <h4><span>2018 - </span>Front End Developer</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo est laborum
              mollitia cumque pariatur amet aperiam veritatis voluptatem, fugit repellendus
              vitae et corporis odit quo. Beatae eaque qui, dolor dolore, ipsum facilis quo
              illo impedit saepe accusamus excepturi maiores omnis, animi quis repudiandae
              temporibus. Officia iste dignissimos labore excepturi recusandae nostrum.<br>

              <strong>Company</strong> - Halliburton<br>
              <strong>Duration</strong> 2017 - 2018<br>
              <strong>Location</strong> - Houston, TX<br>
            </p>
          </li>
          <li>
            <h4><span>2018 - </span>Front End Developer</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo est laborum
              mollitia cumque pariatur amet aperiam veritatis voluptatem, fugit repellendus
              vitae et corporis odit quo. Beatae eaque qui, dolor dolore, ipsum facilis quo
              illo impedit saepe accusamus excepturi maiores omnis, animi quis repudiandae
              temporibus. Officia iste dignissimos labore excepturi recusandae nostrum.<br>

              <strong>Company</strong> - Halliburton<br>
              <strong>Duration</strong> 2017 - 2018<br>
              <strong>Location</strong> - Houston, TX<br>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
