<h2 mat-dialog-title class="new-project-title">New Project</h2>
<div class="new-project-container">
  <mat-form-field class="project-name">
    <mat-label class="project-name-label">Name</mat-label>
    <input matInput class="project-name-input" placeholder="" value="">
  </mat-form-field>
  <mat-form-field class="project-description">
    <mat-label>Description</mat-label>
    <textarea class="project-description-textarea" matInput placeholder=""></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{sprintLengthLabel}}</mat-label>
    <mat-select [value]='sprintLengthValue'>
      <mat-option value="1">1</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="3">3</mat-option>
      <mat-option value="4">4</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{numSprintsLabel}}</mat-label>
    <mat-select [value]='numSprintsValue'>
      <mat-option value="1">1</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="3">3</mat-option>
      <mat-option value="4">4</mat-option>
      <mat-option value="5">5</mat-option>
      <mat-option value="6">6</mat-option>
      <mat-option value="7">7</mat-option>
      <mat-option value="8">8</mat-option>
      <mat-option value="9">9</mat-option>
      <mat-option value="10">10</mat-option>
      <mat-option value="11">11</mat-option>
      <mat-option value="12">12</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{startProjectDateLabel}}</mat-label>
    <input matInput [(ngModel)]="startDateValue" [matDatepicker]="startPicker" disabled>
    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
    <mat-datepicker #startPicker disabled="false"></mat-datepicker>
  </mat-form-field>
</div>
<mat-dialog-actions class="new-project-actions">
  <button mat-raised-button class="new-project-create-button" (click)="onCreateProject()">Create</button>
  <button mat-raised-button class="new-project-button" (click)="onCancel()">Cancel</button>
</mat-dialog-actions>