// .full-width-table {
//   width: 100%;
// }

.card {
  background-color: #000;
  padding: 0px;
  margin: 0px;
}

.card-header {
  padding: 0px;
  margin: 0px;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
}

.container {
  padding: 0px;
}

.mat-list {
  display: flex;
  flex-direction: row;
}

.mat-list-item {
  padding: 0px;
  margin: 0px;
}

.nav-link {
  font-size: 1rem;
}

.nat-item .nav-link {
  font-size: large;
}
// .mat-list-base {
//   display: inline-block;
// }
// td,
// th {
//   text-align: center;
// }

// th {
//   text-align: center;
// }

// .mat-column-date,
// .mat-column-magnitude,
.mat-column-info {
  text-align: center;
}

.mat-column-date,
.mat-column-magnitude {
  text-align: center;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-cell,
.mat-header-cell {
  color: white;
}

tr:nth-child(odd) {
  background-color: rgb(20, 19, 19);
  color: white;
}

th[scope="col"] {
  background-color: #111010;
  color: #fff;
}

th[scope="row"] {
  background-color: #171718;
  color: red;
}

div {
  padding: 10px;
  caption-side: bottom;
}

table {
  background-color: rgb(65, 60, 60);
  width: 100%;
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 0.8rem;
}

.mat-paginator {
  padding: 0px;
  margin: 0px;
  color: rgb(200, 200, 200);
  background-color: rgb(65, 60, 60);
}

.mat-paginator-navigation-previous:focus {
  outline-color: #009988;
}

.mat-paginator-icon:focus {
  outline-color: #009988;
}

.mat-button-ripple:focus {
  outline-color: #009988;
}

/* change arrow icon when has focus */
.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #009988;
}

/* change arrow icon when does not have focus */
.mat-form-field.mat-primary .mat-select-arrow {
  color: #f2f2f2;
}

.mat-icon-button:focus {
  outline-color: #009988;
}

.mat-form-field-infix {
  color: rgb(200, 200, 200);
}

.mat-form-field-ripple {
  color: #009988;
}

.mat-form-field-subscript-wrapper {
  color: #009988;
}

.map-select-arrow:focus {
  color: #009988;
  background-color: #009988;
}

.mat-select-arrow-wrapper.mat-focused .map-select-arrow {
  color: #009988;
  background-color: #009988;
}

.mat-select-value .mat-select-value-text {
  color: rgb(200, 200, 200);
}
