// .full-width-table {
//   width: 100%;
// }

.card {
  background-color: #000;
  padding: 0px;
  margin: 0px;
}

.card-header {
  padding: 0px;
  margin: 0px;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
}

.container {
  padding: 0px;
}

.mat-list {
  display: flex;
  flex-direction: row;
}

.mat-list-item {
  padding: 0px;
  margin: 0px;
}

.nav-link {
  font-size: 1rem;
}

.nat-item .nav-link {
  font-size: large;
}

.mat-column-info {
  text-align: center;
}

.mat-column-date,
.mat-column-magnitude {
  text-align: center;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-cell,
.mat-header-cell {
  color: white;
}

tr:nth-child(odd) {
  background-color: rgb(20, 19, 19);
  color: white;
}

th[scope="col"] {
  background-color: #111010;
  color: #fff;
}

table {
  background-color: rgb(65, 60, 60);
  width: 100%;
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 0.8rem;
}

.mat-paginator {
  padding: 0px;
  margin: 0px;
  color: rgb(200, 200, 200);
  background-color: rgb(65, 60, 60);
}

:host ::ng-deep .mat-select-value-text {
  color: rgb(200, 200, 200);
}

:host ::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #009988;
}

:host ::ng-deep .mat-form-field.mat-focused.mat-primary .mat-form-field-ripple {
  background-color: #009988;
}

::ng-deep .mat-form-field {
  .mat-input-element {
    color: rgb(200, 200, 200);
  }
  .mat-form-field-label {
    color: rgb(200, 200, 200);
  }
  .mat-form-field-underline {
    background-color: rgb(200, 200, 200);
  }
  .mat-form-field-ripple {
    background-color: rgb(200, 200, 200);
  }
  .mat-form-field-required-marker {
    color: rgb(200, 200, 200);
  }
}

::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
    color: #009988;
  }
  .mat-form-field-ripple {
    background-color: #009988;
  }
  .mat-form-field-required-marker {
    color: #009988;
  }
  .mat-input-element {
    color: #009988;
  }
}
