<p-card class="summary-panel">
    <p-header>
        <div style="text-align: center">
        <label style="margin: 10px">Earthquake Summary</label>
        </div>
    </p-header>
    <div style="padding-bottom: 5px">
      <span>Magnitude</span><span class="count">Count</span>    
    </div>
  <ul class="quakes">
    <li *ngFor="let quake of quakes"
      [class.selected]="quake.selected"
      (click)="onSelect(quake)">
      <span class="magnitude">{{quake.magnitude}}</span><span class="count-label">{{quake.count}}</span>
    </li>
  </ul>
</p-card>
