.home-content {
  background: url("../../assets/img/landing.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  min-height: 420px;
  padding-top: 180px;
  padding-bottom: 50px;
}
