<div class="home-content">
  <div class="home-image-content text-center">
    <img src="../../assets/img/ed4.png" alt="photo">
    <h1>Ed Muhlestein</h1>
    <p>Software Engineer - Front-End Developer</p>
  </div>
  <div class="about-content">
    <div class="row">
      <div class="col-12 mb-5">
        <h3>About me</h3>
        I am a lover of technology. I love learning new things. I have created applications for the desktop, the web and
        Android.<br><br>
        I had the opportunity to join a microservice team working on the Angular front-end. I loved it! I learned the
        new
        technology quickly including Angular framework,
        TypeScript, JavaScript, HTML5 and CSS3. I became productive within a month and implemented major pieces of
        functionality.<br><br>
        I have also worked with Android and created several apps. I use the MVVM pattern in the design of my Financial
        Planning
        app, using the architectural components. You can see these apps at my github account:
        <a href="https://github.com/emuhlestein/" target="_blank">https://github.com/emuhlestein/.</a><br><br>
        I have been involved with porting efforts: UNIX to Linux and Linux to Windows.<br><br>
        I have refactored and re-architected a flight simulation application. I modeled the avionics subsystems using
        C++
        abstract base classes as the polymorphic interface for the subsystems.<br><br>
        I'm a self-starter and am comfortable working remotely.
      </div>
    </div>
    <h3>Technical Skills Summary</h3>
    <div class="row tech-content mb-5">
      <div class="col-12 col-md-4">
        <div class="mb-3">
          <i class="fab fa-angular angular-color"><strong class="ml-3 lang-text">ANGULAR</strong></i>
        </div>
        <div class="mb-3">
          <i class="fab fa-html5 html-color"><strong class="ml-3 lang-text">HTML5</strong></i>
        </div>
        <div class="mb-3">
          <i class="fab fa-css3 css-color"><strong class="ml-3 lang-text">CSS3</strong></i>
        </div>
        <div class="mb-3">
          <i class="fab fa-bootstrap bootstrap-color"><strong class="ml-3 lang-text">BOOTSTRAP</strong></i>
        </div>
        <div class="mb-3">
          <i class="fas fa-circle lang-circle"><strong class="ml-3 lang-text">UX DESIGN</strong></i>
        </div>
        <div class="mb-3">
          <i class="fas fa-circle lang-circle"><strong class="ml-3 lang-text">RESPONSIVE</strong></i>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="mb-3">
          <i class="fas fa-circle angular-color"><strong class="ml-3 lang-text">JAVASCRIPT</strong></i>
        </div>
        <div class="mb-3">
          <i class="fas fa-circle angular-color"><strong class="ml-3 lang-text">TYPESCRIPT</strong></i>
        </div>
        <div class="mb-3">
          <i class="fas fa-circle angular-color"><strong class="ml-3 lang-text">JAVA</strong></i>
        </div>
        <div class="mb-3">
          <i class="fas fa-circle angular-color"><strong class="ml-3 lang-text">C++</strong></i>
        </div>
        <div class="mb-3">
          <i class="fas fa-circle angular-color"><strong class="ml-3 lang-text">C</strong></i>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="mb-3">
          <i class="fas fa-circle angular-color"><strong class="ml-3 lang-text">WINDOWS XP & 10</strong></i>
        </div>
        <div class="mb-3">
          <i class="fas fa-circle angular-color"><strong class="ml-3 lang-text">REDHAT</strong></i>
        </div>
        <div class="mb-3">
          <i class="fas fa-circle angular-color"><strong class="ml-3 lang-text">GIT</strong></i>
        </div>
        <div class="mb-3">
          <i class="fas fa-circle angular-color"><strong class="ml-3 lang-text">SCRUM</strong></i>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-3 text-center">
        <i class="fab fa-angular fa-10x angular-color d-none d-md-block"></i>
      </div>
      <div class="col-12 col-md-9">
        <h2><i class="fab fa-angular angular-color d-md-none mr-2"></i>Angular Development</h2>
        <p>I have worked on several Angular projects. I have designed and implemented custom components using Angular
          Material and Bootstrap. I have implemented custom services for inter-component communication and for accessing
          end points of a
          back end
          service. I have also implemented routing and lazy loading of modules for better performance.</p>

        <br>This website is created using Angular.
      </div>
    </div>

    You can contact me @ emuhlestein@yahoo.com. I'm on linkedIn @: <a target="_blank"
      href='https://www.linkedin.com/in/edmuhlestein'>https://www.linkedin.com/in/edmuhlestein</a>
  </div>
</div>